[tool.black]
line-length = 127
target-version = ['py313']
include = '\.pyi?$'
extend-exclude = '''
/(
    # directories
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | venv
  | venv_new
  | _build
  | buck-out
  | build
  | dist
  | migrations
  | static
  | media
  | node_modules
)/
'''

[tool.isort]
profile = "black"
line_length = 127
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
skip_glob = [
    "*/migrations/*",
    "*/static/*",
    "*/media/*",
    "venv/*",
    "venv_new/*",
    ".venv/*",
]
known_django = "django"
known_first_party = ["isoqar_app", "company"]
sections = ["FUTURE", "STDLIB", "DJANGO", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]

[tool.pylint.messages_control]
disable = [
    "C0111",  # missing-docstring
    "C0103",  # invalid-name
    "R0903",  # too-few-public-methods
    "R0913",  # too-many-arguments
    "W0212",  # protected-access
]

[tool.pylint.format]
max-line-length = 127

[tool.bandit]
exclude_dirs = [
    "/test",
    "*/tests/*",
    "*/migrations/*",
    "venv",
    "venv_new",
]
skips = ["B308", "B703"]
