{% extends "layouts/base.html" %}

{% block title %}Company List{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.3/css/buttons.bootstrap4.min.css">
<style>
    .status-active {
        background-color: #28a745; /* Green */
        color: white;
        padding: 5px;
        border-radius: 5px;
    }
    .status-inactive {
        background-color: #dc3545; /* Red */
        color: white;
        padding: 5px;
        border-radius: 5px;
    }
    .status-pending {
        background-color: #ffc107; /* Yellow */
        color: black;
        padding: 5px;
        border-radius: 5px;
    }
</style>
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Company List</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Company List</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <table id="companiesTable" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>City</th>
                <th>Industry</th>
                <th>Standards</th>
                <th>Certificate Status</th>
              </tr>
            </thead>
            <tbody>
              {% for company in companies %}
              <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.city }}</td>
                <td>{{ company.industry }}</td>
                <td>
                  {% for standard in company.standards.all %}
                    {{ standard.standard }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </td>
                <td>
                  <span class="status-{{ company.get_certificate_status_display|lower }}">{{ company.get_certificate_status_display }}</span>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.0/js/responsive.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.colVis.min.js"></script>
<script>
$(function () {
    $("#companiesTable").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#companiesTable_wrapper .col-md-6:eq(0)');
});
</script>
{% endblock %}
