{% load static %}

<!-- Direktno učitavanje JavaScript fajlova koristeći {% static %} tag -->
<script src="{% static 'js/company/direct-modal.js' %}"></script>
<script src="{% static 'js/company/standards-delete-modal.js' %}"></script>
<script src="{% static 'js/company/standards-form.js' %}"></script>
<script src="{% static 'js/company/standard-direct-add.js' %}"></script>
<script src="{% static 'js/company/iaf-eac-handler.js' %}"></script>
<script src="{% static 'js/company/iaf-eac-table-clean.js' %}"></script>
